.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 600px;
  height: 100vh;
}

.home small {
  display: block;
}

.home h1 {
  font-family: "Satisfy", cursive;
  font-size: 62px;
  text-shadow: 5px 5px 0 #ff1d74, -5px -5px 0 #3c8aff;
}

.home p {
  opacity: 0.5;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  filter: brightness(50%);
}

.home button {
  padding: 10px;
  width: 100px;
  margin: 20px 5px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: .1s linear;
  cursor: pointer;
  opacity: 0.9;
}

.home button:hover {
  transform: scale(1.1);
  background-color: #ff1d74;
  border: none;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .home div {
    margin-top: -100px;
  }
}

/* Global Transitions */
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s linear;
}
