.works {
  text-align: center;
  margin-bottom: 100px;
}

hr {
  width: 30%;
  margin: 30px auto;
  opacity: .3;
}

.works h1 {
  font-family: 'Satisfy', cursive;
  font-size: 62px;
  opacity: .8;
}

.work-item {
  width: 60%;
  margin: 50px auto;
}

.work-item h3 {
  font-size: 32px;
}

.work-item p {
  margin-bottom: 20px;
}

.work-item code {
  background-color: #393E46;
  padding: 0 10px;
}

.work-item img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.work-item a {
  padding: 10px;
  color: #fff;
  opacity: .8;
}

.work-item a:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .work-item {
    width: 90%;
  }

  .work-item h3 {
    margin: 30px 0;
  }
}